{% extends 'base.html' %}

{% block content %}
<h2>Mis Proyectos</h2>
<a href="{% url 'ideas:create' %}" class="btn btn-success mb-3">Crear Nuevo Proyecto</a>
<table id="ideasTable" class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Estado</th>
            <th>Observación</th>
            <th>Nota</th>
            <th>Autor</th>
            <th>Empresa</th>
            <th>Última Modificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for idea in ideas %}
        <tr>
            <td>{{ idea.title }}</td>
            <td>
                <span class="badge 
                    {% if idea.get_status_display == 'Aprobada' %}
                        bg-success
                    {% elif idea.get_status_display == 'Pendiente de evaluación' %}
                        bg-info
                    {% elif idea.get_status_display == 'Rechazada' %}
                        bg-danger
                    {% elif idea.get_status_display == 'Sin terminar' %}
                        bg-secondary
                    {% endif %}
                ">
                    {{ idea.get_status_display }}
                </span>
            </td>
            <td>{{ idea.observation|default:"Sin observaciones" }}</td>
            <td>{{ idea.note|default:"Sin calificación" }}</td>
            <td>{{ idea.user }}</td>
            <td>{{ idea.user.empresa }}</td>
            <td>{{ idea.updated_at|date:"d/m/Y H:i" }}</td>
            <td>
                <a href="{% url 'ideas:detail' idea.pk %}" class="btn btn-primary btn-sm">Detalles</a>

                {% if user.role == 'CLIENT' %}
                {% if idea.status == 'rejected' %}
                <a href="{% url 'ideas:edit' idea.pk %}" class="btn btn-warning btn-sm">Reenviar</a>
                {% elif idea.status == 'pending' %}
                <a href="{% url 'ideas:delete' idea.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                {% elif idea.status == 'incomplete' %}
                <a href="{% url 'ideas:edit' idea.pk %}" class="btn btn-warning btn-sm">Completar</a>
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#ideasTable').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/2.1.8/i18n/es-CL.json"
            },
            pageLength: 10,
            lengthMenu: [5, 10, 25, 50],
            responsive: true
        });
    });
</script>

{% endblock %}