{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Evaluador{% endblock %}</title>

    <!-- CSS -->
    <link href="{% static 'css/light.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- JS Jquery -->
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="sidebar" style="background: #6bc2bb !important;">
            <div class="sidebar-content js-simplebar" style="background: #6bc2bb !important;">
                <a class="sidebar-brand" href="#">
                    <img src="{% static 'img/logoct.png' %}" alt="" class="img-fluid" width="40" height="40">
                    <span class="align-middle me-3">Evaluador</span>
                </a>

                <ul class="sidebar-nav">
                    {% block sidebar %}
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#" onclick="document.getElementById('logout-form').submit();">
                            <i class="align-middle text-white" data-feather="log-out"></i>
                            <span class="align-middle text-white">Cerrar Sesión</span>
                        </a>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                    <!-- <li class="sidebar-item">
                        <a class="sidebar-link" href="/">
                            <i class="align-middle text-white" data-feather="home"></i> <span
                                class="align-middle text-white">Home</span>
                        </a>
                    </li> -->

                    {% if user.role == 'ADMIN' %}
                    <li class="sidebar-item">
                        <a class="sidebar-link text-white" href="/users/">
                            <i class="align-middle text-white" data-feather="users"></i> <span
                                class="align-middle">Usuarios</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="sidebar-item">
                        <a data-bs-target="#ideasMenu" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle text-white" data-feather="file"></i> <span
                                class="align-middle text-white">Ideas</span>
                        </a>
                        <ul id="ideasMenu" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item"><a class="sidebar-link text-white text-opacity-75"
                                    href="/ideas/">Registro de
                                    Ideas</a></li>
                        </ul>
                    </li>
                    <!-- 
                    <li class="sidebar-item">
                        <a data-bs-target="#reportsMenu" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle text-white" data-feather="bar-chart-2"></i> <span
                                class="align-middle text-white">Reportes</span>
                        </a>
                        <ul id="reportsMenu" class="sidebar-dropdown list-unstyled collapse">
                            {% if user.role in 'ADMIN,EVALUATOR' %}
                            <li class="sidebar-item"><a class="sidebar-link text-white" href="/reports/ideas/">Ideas
                                    Registradas</a></li>
                            {% endif %}
                        </ul>
                    </li> -->

                    <li class="sidebar-item">
                        {% if user.role in 'ADMIN,EVALUATOR' %}
                        <a data-bs-target="#formsMenu" data-bs-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle text-white" data-feather="edit-3"></i> <span
                                class="align-middle text-white">Formularios</span>
                        </a>
                        <ul id="formsMenu" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item"><a class="sidebar-link text-white text-opacity-75"
                                    href="/questions/">Preguntas</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endblock %}

                </ul>
            </div>
        </nav>
        <div class="main">
            <main class="content">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    <!-- JS -->
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>