{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login Evaluador{% endblock %}</title>
    <link href="{% static 'css/light.css' %}" rel="stylesheet">
    <script src="{% static 'js/app.js' %}" defer></script>
</head>

<body>
    <main class="content">
        {% block content %}
        <!-- Page-specific content -->
        {% endblock %}
    </main>
</body>

</html>